* {
  box-sizing: border-box;
}

:root {
  --jet: #353531;
  --onyx: #444140;
  --payne: #5c6b73;
  --walnut: #726953;
  --battle: #818479;
  --slate: #93a29b;
  --gray: #76777f;
  --cobalt: #848fa4;
  --mint: #ccfbfe;
  --azure-web: #cedfd9;
  --redwood: #ae5b5b;
  --rosy-brown: #b09297;
  --dogwood: #cdaca1;
  --sage: #d2cda2;
  --ash: #cfd7c7;
  --pearl: #e6ddc7;
  --french: #cdd6dd;
  --cyan: #e0fbfc;
  --timberwolf: #dad3d2;
  --azure-web-2: #e9fcfa;
}

body {
  background-color: var(--timberwolf);
  color: var(--davys);
  margin: 0 auto;
  font-family: 'Inter Tight', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  padding: 1rem;
  height: 9.1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 3em;
}

header img {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--dim);
}

a:hover {
  color: var(--paynes)
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--light);
  color: var(--davys);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}

button:hover {
  border-color: var(--paynes);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
select,
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid var(--paynes);
  border-radius: 0.25rem;
  resize: vertical;
}

.ball-section {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
}

.show-question {
  max-height: 5em;
  font-size: 1.6em;
  text-align: center;
}

#show-question,
#answer {
  min-height: 4em;
  text-align: center;
  font-size: 1.2em;
  max-width: 80vw;
}

.crystal {
  height: 25em;
  width: 25em;
  margin: 0 auto;
}

.question {
  margin: .5em;
}

@keyframes crystal {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .crystal {
    animation: crystal infinite 7500ms linear;
  }
}

label {
  font-size: 1.3em;
}

.input-container {
  margin-top: 1.8em;
}

#second-question-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hidden {
  display: none;
}