:root {
  --jet: #353531;
  --onyx: #444140;
  --payne: #5c6b73;
  --walnut: #726953;
  --battle: #818479;
  --slate: #93a29b;
  --gray: #76777f;
  --cobalt: #848fa4;
  --mint: #ccfbfe;
  --azure-web: #cedfd9;
  --redwood: #ae5b5b;
  --rosy-brown: #b09297;
  --dogwood: #cdaca1;
  --sage: #d2cda2;
  --ash: #cfd7c7;
  --pearl: #e6ddc7;
  --french: #cdd6dd;
  --cyan: #e0fbfc;
  --timberwolf: #dad3d2;
  --azure-web-2: #e9fcfa;
}

body {
  background-color: var(--azure-web);
  color: var(--onyx);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  height: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 3rem;
  font-weight: 300;
  margin: 2em 0 2em 0;
}

main {
  font-weight: 300;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--onyx);
}

a:hover {
  color: var(--walnut);
}

button {
  border: 1px solid transparent;
  font-size: .85em;
  font-weight: 500;
  background-color: var(--dogwood);
  color: var(--jet);
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.55rem 1rem;
  border-radius: 0.25rem;
}

button:hover {
  border-color: var(--jet);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
select,
textarea {
  width: 80%;
  padding: 0.75rem;
  border: 1px solid var(--jet);
  border-radius: 0.25rem;
  resize: vertical;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0 2rem 0;
}

.thimbles,
.ball {
  margin: 0 auto;
  height: 8rem;
  width: 8rem;
  margin: 0 2rem 0 2rem;
}

.count {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.count-title {
  text-decoration: underline;
}

.new-game-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#reset-button {
  margin: 0.5rem;
}

#start-over {
  margin: 0.5rem;
}

.hidden {
  display: none;
}